@use 'colors';

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: colors.$black;
  color: colors.$light-gray;
}

/* a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: colors.$light-purple;
} */