@use 'colors';

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: colors.$black;
  color: colors.$light-gray;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: colors.$light-purple;
}

/* Use Tailwind */

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.z-index-cover {
  z-index: -9999;
}

/* ******** */