/*$primary: #E5E7E9;*/
/* $primary: #052529; */
/* $secondary: #28272A; */
/* $secondary: #E5E7E9; */
/* $third: #B42024; */
/* $third: #49E992; */
@font-face {
  font-family: "MoskExtra-Bold800";
  src: url("../fonts/MoskExtra-Bold800.ttf") format("truetype"), url("../fonts/MoskExtra-Bold800.woff") format("woff"), url("../fonts/MoskExtra-Bold800.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url("../fonts/JetBrainsMono-Medium.woff") format("woff"), url("../fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes flashing-cursor {
  50% {
    opacity: 0.1;
  }
}

@keyframes flashing-cursor {
  50% {
    opacity: 0.1;
  }
}

::-moz-selection {
  background-color: #292121;
  color: #FD971F;
}

::selection {
  background-color: #292121;
  color: #FD971F;
}

a::-moz-selection {
  color: #292121;
  background-color: #FD971F;
}

a::selection {
  color: #292121;
  background-color: #FD971F;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "JetBrainsMono-Medium";
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #292121;
  background-color: #e2e2e2;
}

a {
  color: #FD971F;
  text-decoration: none;
}

#first-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #292121;
  background: linear-gradient(45deg, #292121 0%, #292121 82%);
  border-radius: 8rem 0 8rem 0;
}

#first-nav figure img {
  width: 95%;
  border-radius: 50%;
  margin: 5px 0 0 5px;
}

#first-nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 118px solid #f92631;
  border-right: 118px solid #e2e2e2;
  width: 0;
}

#second-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  max-width: 100px;
  min-height: 100vh;
}

#second-nav .nav-container {
  -webkit-box-shadow: 0 -3.5rem 3rem 0 #000;
          box-shadow: 0 -3.5rem 3rem 0 #000;
  border-left: solid 5px #FD971F;
  min-height: calc(100vh - 50px);
  padding: 30px;
}

#second-nav .nav-container .social-icon-container .social-icon a {
  color: #292121;
}

#second-nav .nav-container .social-icon-container .social-icon a svg {
  font-size: 40px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: calc(100% - 350px);
      flex-basis: calc(100% - 350px);
  max-width: calc(100% - 350px);
}

main h2 {
  font-size: 4vw;
  line-height: 4.2vw;
}

main p, main h3 {
  font-size: calc(.45rem + 1vw);
  line-height: calc(1.6rem + 1vw);
}

main .cursor {
  margin-left: .07em;
  border-right: .12em solid;
  -webkit-animation: flashing-cursor 0.8s infinite ease-in;
          animation: flashing-cursor 0.8s infinite ease-in;
}

main header {
  margin-bottom: 35px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FD971F), to(#f92631));
  background-image: linear-gradient(180deg, #FD971F 0%, #f92631 100%);
  color: #292121;
  border-bottom-right-radius: 8rem;
  padding: 45px;
}

main header h2 {
  position: relative;
  font-family: "MoskExtra-Bold800";
  visibility: hidden;
}

main header h2 .autowrite-message-visible {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  visibility: visible;
}

main header p {
  margin-top: 45px;
}

main header p span:nth-child(1) {
  margin-right: 10px;
}

main header p span:nth-child(2) {
  margin-left: 10px;
}

main section {
  padding: 30px 200px 20px 45px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.social-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media only screen and (max-width: 1224px) {
  #first-nav {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    max-width: 150px;
    border-top-left-radius: 5rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  main {
    -ms-flex-preferred-size: calc(100% - 250px);
        flex-basis: calc(100% - 250px);
    max-width: calc(100% - 250px);
  }
  main header {
    padding: 30px;
  }
  main section {
    padding: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  main h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  main p, main h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  #first-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    border-radius: 0;
    min-height: 70px;
    background: #FD971F;
  }
  #first-nav figure img {
    display: none;
  }
  #first-nav::after {
    border: none;
  }
  #second-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    min-height: 70px;
    background-color: #FD971F;
  }
  #second-nav .nav-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px;
    min-height: 70px;
  }
  #second-nav .nav-container .social-icon-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #second-nav .nav-container .social-icon-container .social-icon {
    padding: 20px 12px 0 12px;
  }
  #second-nav .nav-container .social-icon-container .social-icon a {
    color: #292121;
  }
  #second-nav .nav-container .social-icon-container .social-icon a svg {
    font-size: 20px;
  }
  main {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  main header {
    margin-bottom: 0;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
  main section {
    padding: 25px;
  }
}
/*# sourceMappingURL=site.css.map */