button {
  padding: 0;
  margin: 0;
}

button, a.btn-as-link {
  border-style: none;
  border-radius: 4px;
  padding: 10px 16px;
  background-color: $yellow;
  color: $dark-green;
  font-size: var(--fs-400);
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0px 100px 80px rgba(0, 0, 0, 0.07);

  &:hover {
    color: $green;
    background-color: $light-yellow;
  }
}