button {
  padding: 0;
  margin: 0;
}

button, a.btn-as-link {
  border-style: none;
  padding: 7px 14px;
  background-color: $primary;
  color: $dark;
  border: solid 3px transparent;
  font-family: 'Rubik Regular';
  font-size: var(--fs-400);
  cursor: pointer;
  transition: 0.4s;
  position: relative;

  &:hover {
    border: solid 3px $primary;
    color: $primary;
    background-color: initial;
  }
  
  &:focus {
    box-shadow: 0 0 0 0.27rem rgba($primary, .5);
  }
}