@font-face {
  font-family: 'League Spartan Bold';
  src:
    local('League Spartan Bold'),
    local('League-Spartan-Bold'),
    url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('../fonts/spacemono-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono Bold Italic';
  src: url('../fonts/spacemono-bolditalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono Italic';
  src: url('../fonts/spacemono-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono Regular';
  src: url('../fonts/spacemono-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}