@font-face {
  font-family: 'League Spartan Bold';
  src:
    local('League Spartan Bold'),
    local('League-Spartan-Bold'),
    url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}