/* BREAKPOINTS */
$small-devices: 767.98px;
$medium-devices: 991.98px;
$large-devices: 767.98px;

/* COLORS */
$white: #FFF;
$black: #201A1C;
$light-green: #F5F7F7;
$green: #495659;
$dark-green: #314352;
$light-yellow: #FDE079;
$yellow: #F2C135;

/* FONTS */
$base-font-size: 18px;

/* SPACES */
$base-space: 28px;