@import "_reset";
@import "_colors";
@import "_fonts";
@import "_breakpoints";

/* BASE */

@import "_buttons";

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: $dark-green;
}
::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 1px;
  border-left: solid 7px $yellow;
}
::selection {
  background-color: $yellow;
}

body {
  background-color: $light-green;
  font-family: 'Leeague Spartan Bold';
  color: $dark-green;
  padding-bottom: 180px;
  background-color: $light-green;
  background-image:  linear-gradient(#E4E6E8 1px, transparent 1px), linear-gradient(90deg, #E4E6E8 1px, transparent 1px), linear-gradient(#E4E6E8 0.5px, transparent 0.5px), linear-gradient(90deg, #E4E6E8 0.5px, $light-green 0.5px);
  background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
  background-position: -1px -1px, -1px -1px, -0.5px -0.5px, -0.5px -0.5px;
}

img {
  max-width: 100%;
}

a {
  color: $dark-green;
  text-decoration: none;

  &.text-link {
    position: relative;
    transition: 0.4s;

    &:before {
      position: absolute;
      z-index: -1;
      bottom: 1px;
      width: 100%;
      content: '';
      border-bottom: solid 10px $yellow;
      transition: 0.4s;
    }
    
    &:hover {
      color: $green;

      &:before {
        border-bottom: solid 4px $light-yellow;
      }
    }
  }
}

p, span {
  font-size: $base-font-size;
  line-height: 30px;
}

/* HEADER */

.custom-shape-divider-top-1643150368 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1643150368 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 280px;
}

.custom-shape-divider-top-1643150368 .shape-fill {
  fill: $yellow;
}

.about-me {
  display: grid;
  place-items: center;

  .greeting {
    margin: 30px 0;
    font-size: 40px;
    line-height: 48px;
    
    @media (max-width: $medium-devices) {
      margin: 30px;
    }
  }

  .avatar {
    max-width: 220px;
    margin: 10px 0;

    img {
      border-radius: 50%;
    }
  }

  .profession {
    margin: 30px 0;
    font-size: 24px;
    line-height: 35px;

    @media (max-width: $medium-devices) {
      margin: 30px;
    }
  }

  .btn-resume {
    @media (max-width: $small-devices) {
      place-self: self-start;
      margin: 0 30px;
    }
  }
}

/* MAIN */

.details-about-me,
.recent-works {
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: $medium-devices) {
    margin: 0 30px;
  }
}

.details-about-me p {
  padding: 50px 0;
}

.recent-works {
  background-color: $white;
  padding: 30px;
  position: relative;
  z-index: 0;
  border-radius: 4px;
  box-shadow: 12.5px 12.5px 10px rgb(0 0 0 / 4%), 0px 100px 80px rgb(0 0 0 / 7%);

  @media (max-width: $medium-devices) {
    padding: 30px 0;
  }

  > * {
    @media (max-width: $medium-devices) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  > h3 {
    font-size: $base-font-size;
  }

  > p:not(:last-child) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* FOOTER */

.nav-social {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 100%;
  background-color: $dark-green;
  
  @media (max-width: $small-devices) {
    height: 45px;
  }

  ul {
    display: flex;
    height: 100%;
    max-width: 550px;
    margin: 0 auto;

    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $yellow;
        font-size: 28px;

        @media (max-width: $small-devices) {
          font-size: 20px;
        }
      }
    }
  }
}