@import "_reset";
@import "_variables";
@import "_fonts";
@import "_animations";
@import "_buttons";

/* BASE */

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: $dark;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-left: solid 7px $primary;
}
::selection {
  background-color: $primary;
}

body {
  font-family: 'Rubik Light';
  letter-spacing: 0.01rem;
  color: $light-gray;
  padding-bottom: 180px;
  background-color: $dark;
}

img {
  max-width: 100%;
}

a {
  color: $primary;
  text-decoration: none;
}

p, span {
  font-size: var(--fs-400);
  line-height: var(--lh-400);
}

/* HEADER */

.about-me {
  margin: 0 auto;
  max-width: 1000px;
  padding: var(--base-space);

  .greeting {
    margin: var(--base-space) 0;
    padding: 0 0 var(--base-space) 0;
    font-family: 'Space Mono Regular';
    font-size: var(--fs-800);
    line-height: var(--lh-800);

    @media (min-width: $medium-devices-breakpoint) {
      padding: var(--base-space) 0;
    }

    mark {
      background: $primary;
      color: $dark;
      padding: 8px 14px;
    }
  }

  .btn-resume {
    margin-top: 100px;
  }

  .details {
    margin: var(--base-space) 0;
  }
}

/* MAIN */

.recent-works {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--base-space);
}

.recent-works {
  h3 {
    font-size: var(--fs-400);
  }

  p {
    margin: 15px 0;
  }
}

/* NAV */

.nav-social {
  position: fixed;
  inset: auto 0 0 0;
  padding: 10px;
  background-color: $dark;
  animation: fadeInUp .35s both;
  
  @media (min-width: $small-devices-breakpoint) {
    padding: 18px;
  }
  
  @media (orientation: landscape) {
    inset: 0 0 0 auto;
    padding: 30px;
    animation: fadeInRight .35s both;

    ul {
      flex-direction: column;
    }
  }

  ul {
    display: flex;
    height: 100%;
    max-width: 550px;
    margin: 0 auto;

    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $light-gray;
        font-size: 20px;

        @media (min-width: $small-devices-breakpoint) {
          font-size: 27px;
        }
      }
    }
  }
}