@import "_reset";
@import "_variables";
@import "_fonts";
@import "_animations";
@import "_buttons";

/* BASE */

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: $dark-green;
}
::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 1px;
  border-left: solid 7px $yellow;
}
::selection {
  background-color: $yellow;
}

body {
  background-color: $light-green;
  font-family: 'League Spartan Bold';
  color: $dark-green;
  padding-bottom: 180px;
  background-color: $light-green;
  background-image:  linear-gradient($light-gray 1px, transparent 1px), linear-gradient(90deg, $light-gray 1px, transparent 1px), linear-gradient($light-gray 0.5px, transparent 0.5px), linear-gradient(90deg, $light-gray 0.5px, $light-green 0.5px);
  background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
  background-position: -1px -1px, -1px -1px, -0.5px -0.5px, -0.5px -0.5px;
}

img {
  max-width: 100%;
}

a {
  color: $dark-green;
  text-decoration: none;

  &.text-link {
    position: relative;
    transition: 0.4s;

    &:before {
      position: absolute;
      z-index: -1;
      bottom: 1px;
      width: 100%;
      content: '';
      border-bottom: solid 10px $yellow;
      transition: 0.4s;
    }
    
    &:hover {
      color: $green;

      &:before {
        border-bottom: solid 4px $light-yellow;
      }
    }
  }
}

p, span {
  font-size: var(--fs-400);
  line-height: var(--lh-400);
}

/* HEADER */

.custom-shape-divider-top-1643150368 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  animation: fadeInDown .65s both;
}

.custom-shape-divider-top-1643150368 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 280px;
}

.custom-shape-divider-top-1643150368 .shape-fill {
  fill: $yellow;
}

.about-me {
  display: grid;
  place-items: center;

  .greeting {
    margin: var(--base-space);
    font-size: var(--fs-800);
    line-height: var(--lh-800);
    
    @media (min-width: $medium-devices-breakpoint) {
      margin: var(--base-space) 0;
    }
  }

  .avatar {
    max-width: 220px;
    margin: 10px 0;

    img {
      border-radius: 50%;
    }
  }

  .profession {
    font-size: var(--fs-600);
    line-height: var(--lh-600);
    margin: var(--base-space);
    
    @media (min-width: $medium-devices-breakpoint) {
      margin: var(--base-space) 0;
    }
  }

  .btn-resume {
    place-self: self-start;
    margin: 0 var(--base-space);

    @media (min-width: $small-devices-breakpoint) {
      place-self: center;
      margin: 0;
    }
  }
}

/* MAIN */

.details-about-me,
.recent-works {
  max-width: 800px;
  margin: 0 var(--base-space);
  
  @media (min-width: $medium-devices-breakpoint) {
    margin: 0 auto;
  }
}

.details-about-me p {
  padding: 50px 0;
}

.recent-works {
  background-color: $white;
  position: relative;
  z-index: 0;
  border-radius: 4px;
  box-shadow: 12.5px 12.5px 10px rgb(0 0 0 / 4%), 0px 100px 80px rgb(0 0 0 / 7%);
  
  .inner {
    padding: var(--base-space);
  }

  h3 {
    font-size: var(--fs-400);
  }

  p {
    margin: 15px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* NAV */

.nav-social {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: $dark-green-2;
  animation: fadeInUp .35s both;
  
  @media (min-width: $small-devices-breakpoint) {
    height: 57px;
  }

  ul {
    display: flex;
    height: 100%;
    max-width: 550px;
    margin: 0 auto;

    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $yellow;
        font-size: 20px;

        @media (min-width: $small-devices-breakpoint) {
          font-size: 28px;
        }
      }
    }
  }
}