@import "_reset";
@import "_variables";
@import "_fonts";
@import "_animations";
@import "_buttons";

/* BASE */

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: $dark-green-2;
}
::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 1px;
  border-left: solid 7px $yellow;
}
::selection {
  background-color: $yellow;
}

body {
  background-color: $light-green;
  font-family: 'League Spartan Bold';
  letter-spacing: 0.01rem;
  color: $dark-green;
  padding-bottom: 180px;
  background-color: #f5f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e4e6e8' fill-opacity='0.79'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

img {
  max-width: 100%;
}

a {
  color: $dark-green;
  text-decoration: none;

  &.text-link {
    position: relative;
    transition: 0.4s;

    &:before {
      position: absolute;
      z-index: -1;
      bottom: 1px;
      width: 100%;
      content: '';
      border-bottom: solid 10px $yellow;
      transition: 0.4s;
    }
    
    &:hover {
      color: $green;

      &:before {
        border-bottom: solid 4px $light-yellow;
      }
    }
  }
}

p, span {
  font-size: var(--fs-400);
  line-height: var(--lh-400);
}

/* HEADER */

.about-me {
  display: grid;
  place-items: center;
  margin: 0 var(--base-space);

  .greeting {
    margin: var(--base-space) 0;
    font-size: var(--fs-800);
    line-height: var(--lh-800);
  }

  .avatar {
    max-width: 220px;
    margin: 10px 0;

    img {
      border-radius: 50%;
    }
  }

  .profession {
    font-size: var(--fs-600);
    line-height: var(--lh-600);
    margin: var(--base-space) 0;
  }

  .btn-resume {
    place-self: start;
    
    @media (min-width: $small-devices-breakpoint) {
      place-self: center;
    }
  }
}

/* MAIN */

.details-about-me,
.recent-works {
  max-width: 800px;
  margin: 0 auto;
  
  .inner {
    padding: var(--base-space);
  }
}

.details-about-me p {
  margin: 20px 0;
}

.recent-works {
  .inner {
    position: relative;
    z-index: 0;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 12.5px 12.5px 10px rgb(0 0 0 / 4%), 0px 100px 80px rgb(0 0 0 / 7%);
    padding: var(--base-space);
    margin: 0 var(--base-space);
  }

  h3 {
    font-size: var(--fs-400);
  }

  p {
    margin: 15px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* NAV */

.nav-social {
  position: fixed;
  inset: auto 0 0 0;
  padding: 10px;
  background-color: $dark-green-2;
  animation: fadeInUp .35s both;
  
  @media (min-width: $small-devices-breakpoint) {
    padding: 12px;
  }

  ul {
    display: flex;
    height: 100%;
    max-width: 550px;
    margin: 0 auto;

    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $yellow;
        font-size: 20px;

        @media (min-width: $small-devices-breakpoint) {
          font-size: 28px;
        }
      }
    }
  }
}